<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://code.alibabatech.com/schema/dubbo
	http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<dubbo:application name="${dubbo.application}" />
	<dubbo:registry protocol="zookeeper"  address="${zookeeper.address}" />
	<dubbo:monitor protocol="registry"/>
	<dubbo:protocol dispatcher="all" name="dubbo"  threadpool="fixed" port="8888" threads="100" />
	<dubbo:service timeout="${dubbo.timeout}"  cache="lru"  interface="dubbo.service.api.IDemoApi" ref="IDemoService" />
	<dubbo:service timeout="${dubbo.timeout}"  mock="" interface="dubbo.service.api.IDemo2Api" ref="IDemo2Service" />
</beans>